@import url("font/font.css");

/* ===== GENERAL ===== */

html{
	width:100%;
	height:100%;
}
body {
	visibility:visible !important;
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	margin: 0;
	color: #333;
	height:100%;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	 font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body.tplNavOpened {
    overflow: hidden;
}

ul, ol {
	margin: 0.5em 0;
}

p {
	line-height: 1.5;
	margin: 0.2em 0;
}

a {
	text-decoration: none;
	color: #E3007E;
}

a:hover {
	text-decoration: underline;
}

q::before, q::after {
    content: "";
}

.hidden {
    position: absolute;
    left: -9999px;
}

.collBlk_closed{
	display: none;
}

/*ajout img coins arrondis*/
img.binImgInline {
    border-radius: 10px;
}

q.txt_quote_ph {
    font-style: italic;
}

h2 {
	font-size: 1.5em;
	margin: 0 0 0.5em;
	color: #00a0e4;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	margin: 2em 0 1em;
}

h4, h5, h6 {
	font-weight: normal;
	margin: 1em 0 1em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.8em;
}

div.txt_img_ex, div.txt_media_ex {
	text-align: center;
	margin: 0.5em auto;
}

video.remoteBinary {
    width: 100%;
}

img.binImg {
    border-radius: 10px;
}

iframe {
    max-width: 100%;
}

.remoteInteractiveFrame{
	padding-top: 48%;
}

figure {
	margin: 0;
}

figcaption {
	font-style: italic;
}

span.txt_def_ul, span.txt_note_ul, span.txt_abbr_ul {
	cursor: pointer;
	color: #00a0e0; /*ajout*/
	font-size: 1em; /*ajout*/
	font-weight: normal; /*ajout*/
}

div.extract {
	width: 80%;
	margin: 1em auto;
}

div.extract_ti > p {
	text-align: center;
}

blockquote.extract_co {
	border: solid 1px black;
	margin: 0;
	padding: 0.5em 1em;
}

/* ===== TABLE ===== */
table.txt_tb {
	margin: 1em auto;
	border-collapse: collapse;
}

caption.txt_tbcp, div.captImg_ti {
	font-weight: bold;
	font-size: 1em;
	margin: 0.1em 0;
}

table.txt_tb th {
	color: #5A545A;
	background-color: #ebf7fb; 
}

table.txt_tb td, table.txt_tb th {
	border: solid 1px;
	height: 1.8em;
	border-color: #00A0E0;
}

table.txt_tb th p, tr.txt_t_tbtr td p {
	text-align: center;
}

table.txt_tb p {
	text-align: left;
	margin: 0.3em;
}

table.txt_tb .txt_center_tbtd p {
	text-align: center;
}

table.txt_tb .txt_right_tbtd p {
	text-align: right;
}

col.txt_t_tbcl, tr.txt_t_tbtr td {
	background-color: #ebf7fb;
}

table.layout_tb {
	width: 100%;
	margin: 1em auto;
}

/* ===== TEMPLATE ===== */
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

/* ============= Accessibility menu ============= */
#accessibility {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    width: auto;
    z-index: 90;
    font-size: 0.8em;
    top: 5px;
}

#accessibility li {
    float: left;
    margin-right: 10px;
}

#accessibility li a{
	font-size: .8em;
	opacity: 0;
}

#accessibility a:hover {
    text-decoration: none;
}

#accessibility a:focus {
    opacity:1;
}


/* ===== HEADER ===== */
#header {
    position: fixed;
    left: 0;
    right: 0;
    height: 80px;
	z-index: 1;
	background-color: #f9f9f9;
	width: 100%;
}

#header .inline{
	width: 100%;
	max-width: 1200px;
	margin:0 auto;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 2.5em;
	box-sizing: border-box;
}

.sw_stack{
	display: none;
}

#tplBtnNav {
    color: #000;
    display: none;
    flex-direction: column;
	text-transform:uppercase;
	align-items: center;
	position:fixed;
	right:2.5em;
	top:0;
	height: 70px;
	justify-content: center;
}

#tplBtnNav::after {
    font-family: "fontello";
    content: "\f0c9";
    font-size: 1.5em;
    color: #80c342;
}

.tplNavOpened #tplBtnNav::after {
	content:"\e818";
}

#tplBtnNav:hover{
	text-decoration:none;
}

#header h1{
	flex: 2 1 auto;
	font-size: 1.5em;
	font-weight: normal;
	margin: 0;
	padding: 0 2vh 0 5vh;
}

#header .inline .rootLnk{
	margin-right: 1em;
}

#header .inline img.logo {
	height: 40px;
}

#header .btnInHeader {
    flex: 0 0 auto;
    margin-right: 1em;
	font-size: 1.8em;
}
#header .btnInHeader:hover{
	text-decoration:none;
	opacity:0.7;
}

#header .btnLibrary::before {
	font-family: "fontello";
	content:"\e800";
}

#header .btnTools::before{
	font-family: "fontello";
	content:"\e804";
}

#header .btnInHeader span{
	position:absolute;
	left:-9999px;
}


/* MAIN */
main {
	flex: 2 1 100%;
	width: 100%;
    max-width: 1200px;
    margin: 100px auto 50px;
	position: relative;
	display:flex;
}

main #content {
	padding: 0 2.5em;
	flex: 2 1 auto;
	background-color:#fff;
	position: relative;
	overflow: hidden;
}

#content .homeTitle{
	display:none;
}

main #toolbox{
	flex : 0 0 300px;
	padding-right: 2.5em;
}

body.hideToc main #toolbox {
    display: none;
}

/* ===== STACK =====*/
.stack{
	flex:2 1 auto;
	align-self: center;
	padding: 0.5em 1em;
    font-weight: normal; /*modifié*/
	font-size: 1.1em; /*ajout*/
}

.siblingEntries_source:hover{
	text-decoration:none;
} 

.siblingEntries_tt_fra {
    background-color: #fff;
    border: 1px solid #dedede;
    margin: 0.5em 0;
    padding: 0.5em;
	position: fixed !important;
}

.siblingEntries_tt ul {
	list-style-type: none;
	padding:0;
}

.activityEntries_tt_co .mnuSecSrlUpFra, .activityEntries_tt_co .mnuSecSrlDwnFra {
	display: none;
}

/* === START - TOOLBOX ====================================================== */

#toc{
	box-shadow: 5px 10px 20px #ddd;
	position: fixed;
	width: 300px;
	background-color: #fff;
	padding:1em 1.5em;
	box-sizing:border-box;
}

/* NAVLINKS */
.navLinks {
    display: flex;
	justify-content: space-around;
	padding:0.5em;
}

a.btnNext, a.btnPrevious {
    display: flex;
	flex-direction: column;
	align-items: center;
	color: #434345;
}

a.btnPrevious::before{
	font-family:"fontello";
	content:"\e80b";
	font-size: 2em;
}

a.btnNext::before {
	font-family:"fontello";
	content:"\e80a";
	font-size: 2em;
}

a.btnHome::before {
	font-family:"fontello";
	content:"\e805";
	color: #80c342;
	font-size: 2.1em;
}

a.btnNext:hover,
a.btnPrevious:hover, 
a.btnHome:hover{
	text-decoration:none;
}

a.btnNext > span,
a.btnPrevious > span,
a.btnHome > span {
    position: absolute;
    left: -9999px;
}

/* TOC */
.tocContent {
    padding: 1em 0;
	max-height: calc(100vh - 370px);
	overflow: auto;
}

.tocContent ul {
    list-style-type: none;
	padding-left:1em;
}

.tocContent > ul, li.home > ul {
    padding-left: 0;
	margin:0;
}

li.home > div {
    display: none;
}

.tocContent ul a {
	color:#231F20;
    border-left: 3px solid #c2c4c6;
    padding: 0.2em 0.5em;
    display: block;
    margin: 0.2em 0;
}

.tocContent a.mnuSel_yes, .tocContent a.mnuAnc_yes, .tocContent a.currentSection_yes {
    color: #00a0e4;
    border-left-color: #00a0e4;
}

/* === STOP - TOOLBOX ======================================================= */

/* === START - TILES ======================================================== */
div.tiles{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

article.tile {
    display: flex;
    flex-direction: column;
    margin: 15px;
    text-align: center;
    width: 240px;
    hyphens: auto;
    box-shadow: 5px 10px 20px #ededed;
    min-height: 260px;
}

.tileText {
    padding: 10px 10px 0;
}

.tile_ti {
    margin: 0;
    font-size: 1.1em;
    text-align: left;
	color: #000;
}
article.tile:hover .tile_ti{
	color:#00a0e4;
}

.tileLink {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	background: url("img/tile.svg") no-repeat left 0.7em bottom 25px / 40px auto;
	padding-bottom: 50px;
}
.tileLink:hover{
	text-decoration:none;
}

.tileImage {
    height: 130px;
    overflow: hidden;
    position: relative;
}

.tileImage img {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    left: 0;
    width: 100%;
    height: auto;
}

/* === STOP - TILES ======================================================== */

/* ===== CONTENT ===== */
.blockTxt {
    margin-bottom: 1rem;
}

.activity_ti {
    border-bottom: 1px solid #e3007e;
    padding-bottom: 0.2em;
    color: #ff5a31;
}

.activity_ti a{
	display: flex;
	align-items: center;
}

.activity_ti a.anchor {
    display: none;
}

.activity_ti a:hover {
    text-decoration: none;
}

.activity_ti a span{
	flex: 2 1 auto;
}

.activity_closed::after {
    font-family: "fontello";
    content: "\e80f";
    font-size: 0.6em;
}

.activity_open::after {
    font-family: "fontello";
    content: "\e810";
    font-size: 0.6em;
}

.transition_ti {
    font-weight: bold;
	color: #f9610b;
}

.deliverables_ti {
    font-weight: normal;
	margin-bottom: 0.5em;
}

.icon {
    text-align: center;
}

a.link.newTab { 
	margin-top: 0.5rem;
	text-align: right;
}

.scframe_ti {
	font-size: 1em;
    margin: 1rem 0 0.5rem 0;
}

.txt_resourceLnk_tl a.link, .txt_resourceLnk_tl a.lnkBin {
    display: initial;
}

a.link, a.lnkBin {
    display: block;
}

a.link, a.lnkBin, a.txt_url_ul, a.txt_doc_ul {
    margin: 1rem 0;
}

a.link::before, a.lnkBin::before, a.txt_url_ul::before, a.txt_doc_ul::before{
	font-family:"fontello";
	display:inline-block;
	margin-right:5px;
}
a.link::before, a.txt_url_ul::before{
	content:"\e804";
}
a.lnkBin::before, a.txt_doc_ul::before{
	content:"\e806";
}
a.link.newTab, a.txt_url_ul.newTab{
	color:#808080;
}
a.link.newTab::before, a.txt_url_ul.newTab::before{
	content:"\e808";
}

.wayOfWorking {
    float: right;
    margin-top: -3em;
	background: gainsboro;
	border-radius: 10px;
	padding: 10px;
}

.wayOfWorking > * {
    display: inline-block;
	cursor:default;
}

.wayOfWorking > *:hover{
	text-decoration:none;
}

.wayOfWorking .individual::before {
    content: "\e802";
    font-family: "fontello";
    font-size: 1.2em;
}

.wayOfWorking .group::before {
    content: "\e803";
    font-family: "fontello";
    font-size: 1.2em;
}

.wayOfWorking .number{
	margin-left: 0.5em;
}

.wayOfWorking .members {
	display: none;
}

.wayOfWorking .members.active {
	display: initial;
}

.resourcesScScorm > * {
    display: inline-block;
	margin: 1em;
	text-align: center;
	vertical-align: top;
	padding:0.5em;
}

.resourceScScorm > * {
	display: block;
}

.resourceScScorm.done {
	background-color: gainsboro;
}

.resourceScScorm .score {
	display: none;
}

.resourceScScorm.done .score {
	display: block;
}

a.resourceScScormLnk {
	height: 40px;
	overflow: hidden;
	width: 60px;
	cursor: default;
}

.resourcesScScorm.active a.resourceScScormLnk {
	cursor: initial;
}

a.resourceScScormLnk span::before{
	content: "\e80c";
	display: inline-block;
	font-size: 1.8em;
	line-height: 40px;
	font-family:"fontello";
}

/*	===== BLOCKS ===== */
div.block{
	margin: 1em 0 1em 35px;
	padding:1em 1.5em;
	position:relative;
}
div.block::before {
    position: absolute;
    left: -35px;
    top: 10px;
    height: 45px;
    width: 45px;
    font-family: "fontello";
    color: #fff;
    text-align: center;
    font-size: 2em;
    line-height: 45px;
}
div.block_ti{
	font-weight: bold;
    font-size: 1.3em;
	margin-bottom: 0.5em;
}

/* Information */
.block.information {
    margin: 1em 0;
	padding:0;
}
div.block.information div.block_ti {
    display: flex;
    align-items: center;
}
div.block.information div.block_ti::before {
    content: "";
    background-color: #00a0e4;
    height: 15px;
	flex: 0 0 15px;
    border-radius: 50%;
    margin-right: 0.5em;
}

/* Conseil */
div.block.advice::before {
	content: "\e80d";
	background-color: #7ab400;
}
div.block.advice div.block_ti{
	color:#7ab400;
	margin-bottom: 0.5em;
}
div.block.advice::after {
    width: 1px;
    background-color: #7AB200;
    bottom: 2em;
    position: absolute;
    left: -0.7em;
    top: 4em;
    content: "";
}

/* Attention */
div.block.warning{
	background-color: #fce5f2;
}
div.block.warning::before {
	content: "\e801";
	background-color: #e3007e;
}
div.block.warning div.block_ti{
	color:#e3007e;
	
}

/* Remarque */
div.block.remark::before {
	content: "\e812";
	background-color: #e7871f;
}
div.block.remark div.block_ti{
	color:#e7871f;
}

/* Instructions */
div.block.instructions::before {
	content: "\e807";
	background-color: #005f83;
}
div.block.instructions div.block_ti{
	color:#005f83;
}

/* Note au formateur*/
.block.trainerNote {
    padding: 0;
    margin-left: 0;
	border-bottom: 1px solid #1abc9c;
}
a.block_open, a.block_closed {
	color:#1abc9c;
	margin-bottom: 0.5em;
	font-size:1.3em;
	font-weight:bold;
}
a.block_open::after{
	font-family: "fontello";
    content: "\e810";
    font-size: 0.6em;
	margin-left: 1em;
}
a.block_closed::after{
	font-family: "fontello";
    content: "\e80f";
    font-size: 0.6em;
	margin-left: 1em;
}

a.block_open:hover, a.block_closed:hover{
	text-decoration:none;
}

div.block.media {
    text-align: center;
}

.hideTrainerNotes div.block.trainerNote, .hideTrainerNotes div.resAnnex.trainerRes {
	display: none;
}

/* ANNEX */
.resAnnex {
    margin: 1em 0;
    position: relative;
    padding-left: 30px;
    border-left: 1px solid #E3007E;
}
.resAnnex.compl{
	border-left-color:#005f83;
}

.resAnnex::before {
    font-family: "fontello";
    content: "\e813";
    position: absolute;
    left: -1px;
    top: 0;
    color: #E3007E;
    background-color: #fff;
    width: 29px;
    height: 29px;
    font-size: 1.5em;
}
.resAnnex.compl::before{
	content:"\e814";
	color:#005f83;
}

.resAnnex_ti {
    font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

.resAnnex_co {
	border-left:1px solid #E3007E;
	padding-left:0.5em;
	margin-left:0.6em;
}

.resources {
    margin-top: .5rem;
}

.resAnnex a {
    margin-bottom: 0;
	margin-top:0;
}
.resAnnex.compl a{
	color:#005f83;
}
.resAnnex a::before {
    content: "";
}

/* ===== VIS A VIS ===== */
.visavis {
	display: flex;
	flex-flow: row;
	margin: 1em 0;
}

.visavis.half-half img,
.visavis.one-two img,
.visavis.two-one img {
    height: auto !important;
    max-width: 100%;
}

.visavis > .first {
	margin-right: 0.5em;
	padding-right: 0.5em;
	/*border-right: 1px solid;*/
}

.visavis.half-half > .first {
	flex: 1 1 50%;
}

.visavis.half-half > .next {
	flex: 1 1 50%;
}

.visavis.one-two > .first {
	flex: 1 1 33%;
}

.visavis.one-two > .next {
	flex: 1 1 67%;
}

.visavis.two-one > .first {
	flex: 1 1 67%;
}

.visavis.two-one > .next {
	flex: 1 1 33%;
}

.visavis.auto > div {
	flex: 1 1 auto;
}

.visavis .tePlayer.teVideoType {
    width: auto;
}

/* ===== TOOLTIP ===== */
a.tooltip_a.info{
	font-style: normal;
    margin-right: 0.3em;
	font-family: "fontello";
}
a.tooltip_a.info:hover{
	text-decoration: none;
}
div.tooltip, div.captImgZone, div.txt_def, div.txt_note, div.txt_abbr {
	background-color: white;
	outline: dotted 1px #00a0e0; /*modifié*/
	padding: 1.5ex; /*modifié*/
}

div.txt_def_ti, div.txt_note_ti, div.txt_abbr_ti {
	font-family: "open_sansregular"; /*modifié*/
	font-weight: normal; /*modifié*/
	color: #00a0e0; /*ajout*/
}

/* ===== DISTRIB ===== */

span.numberOfVisits::after {
    content: "\1F441";
}

span.score::before {
    content: "\1F4DD";
}

span.playLearner::before, span.playGroup::before {
    content: "\23F5";
}

span.numberOfVisits, span.score, span.playLearner, span.playGroup {
    margin-left: 10px;
}

table.learners tr:nth-child(even), table.groups tr:nth-child(even) {
	background: #CCC
}
table.learners tr:nth-child(odd), table.groups tr:nth-child(odd) {
	background: #FFF
}

/* ===== TOOLS FORM ===== */

.toolTitle {
	font-weight: bold;
	margin: 1em 0 0.5em;
}

div.toolsForm label {
	display: block;
}

div.toolsForm .toolInput a.link.toolVarLnk {
	padding-left: 10px;
	display: none;
}

div.toolsForm input {
	padding: 5px;
	border: 1px solid rgb(178, 178, 178);
	box-sizing: content-box;
	border-radius: 3px;
	width: 60ch;
	margin:4px 0 1em;
}
div.toolsForm input:focus {
    box-shadow: 0px 1px 4px 0px rgba(97, 191, 26, 0.6) inset;
}

div.toolsForm .btns {
    margin-top: 1em;
}

div.toolsForm button {
	margin-right: 1em;
	border: none;
	color: #fff;
	padding: 0.5em;
	font-size: 0.9em;
	cursor: pointer;
	background-color:#00a0e0;
}
div.toolsForm button[disabled] {
  background-color: #dedede;
  cursor: default;
}
div.toolsForm button:hover {
  box-shadow: 0 0 2px #333;
}
div.toolsForm button[disabled]:hover {
  box-shadow: none;
}

div.toolsForm .inputHelp {
    font-style: italic;
    font-size: 0.9em;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
    color: #666;
}

.toolVarLnk.link:hover {
    text-decoration: none;
    opacity: 0.7;
}

.toolPropose{
	/*position:absolute;*/
	top: 40px;
	left: 22px;
	width:154px;
	background-color: #E5E5E5;
	z-index:100;
	box-shadow: 0px 0px 5px 3px #aaa;
	max-height: 400px;
	overflow: auto;
}
.toolBtnPropose{
	display:block;
	color:black;
	padding:3px;
	text-decoration: none;
}
.toolBtnPropose:hover,
.toolBtnPropose:focus{
background-color: #F6F6F6;

}

.toolPropose_hide{
	display:none;
}

/* BACK TO TOP */
.backToTop {
    position: fixed;
    bottom: 0;
    right: 0;
	display:none;
	color: #434345;
	margin: 0.5em;
	font-size: 2em;
}

.page_scrolled .backToTop {
    display: block;
}

.backToTop:hover{
	text-decoration:none;
}

.backToTop::before {
    font-family: "fontello";
    content: "\e809";
}

.backToTop span {
    position: absolute;
    left: -9999px;
}

/* ===== SUBWINDOW ===== */
body.subWinRes_open{
	overflow:hidden;
}
.subWinRes_over,
.subWindow_over  {
    position: fixed !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.87);
}
div.subWinRes_win, 
div.subWindow_win {
	position: fixed !important;
	left: 0;
	right: 0;
	bottom: 5%;
	top: 4em;
	display: flex;
	flex: 1;
	max-width:1024px;
	margin:0 auto;
}

div.subWinRes_co,
.subWindow_co  {
	height: 100%;
	width: 100%;
	box-shadow: 5px 10px 20px #dddddd;
	background-color: white;
}

iframe.subWinRes_fra, 
iframe.subWindow_fra  {
	height: 100%;
	width: 100%;
}

.subWinRes_x, .scImgZmBtnCls, .subWindow_x  {
    background-color: #282828;
    color: #fff;
    width: 38px;
    height: 38px;
    position: absolute;
    right: 0;
    top: -50px;
    z-index: 10;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subWinRes_x:hover, .scImgZmBtnCls:hover, .subWindow_x:hover{
	text-decoration:none;
}

.subWinRes_x::before, .scImgZmBtnCls::before, .subWindow_x::before {
	font-family: "fontello";
	content: "\e818";
}

body.subWindow main{
	margin-top:50px;
}

.subWinRes_x > span, .subWindow_x > span {
	position:absolute;
	left:-9999px;
}

/* ---------- zoom ---------- */
div.scImgZmCvs {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 2001;
    width: 100%;
    height: 100%;
}

.imgLoading .scImgZmCvs::before {
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("img/loader.svg");
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 2001;
    width: 100%;
    height: 100%;
}

div.scImgZmOver {
    background-color: rgba(255,255,255,0.87);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

div.scImgZmFra {
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}

div.scImgZmTlb {
    margin-top: 5px;
    text-align: right;
}

a.scImgZmBtnCls {
    position: fixed;
    top: 5px;
    right: 5px;
}

a.scImgZmBtnCls span {
    display: none;
}

.scImgZmCo {
    text-align: center;
	box-shadow: 5px 10px 20px #dddddd;
}

.scImgZmCo div{
    z-index: 2002;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border: 0px;
}

.scImgZmCo iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border: 0px;
}

.scImgZmCo a {
    text-decoration: none;
}

.scImgZmCo a img {
    border: 0px;
}

.scImgZmCo img{
    background-color: white;
}

/* AUDIO INLINE */
.txt_sAudio_ul .inlineController {
    background-color: transparent;
    display: inline;
	padding: 0 0.2em;
}
.inlineController > button {
    color: #00a0e4;
    height: auto;
    display: inline;
	vertical-align: middle;
	border: none;
	background: none;
	-webkit-appearance: none;
	padding: 0;
	font-size: inherit;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	width: 2em;
	margin: 0 0.1em;
}

.txt_sAudio_ul .inlineController .inlinePlayPause::before, .txt_sAudio_ul .inlineController .inlinePlayPause[aria-pressed="true"]::before {
    font-family: "fontello";
    content: "\e811";
    background: none;
    width: inherit;
    height: inherit;
}

.inlineContainer video {
	display: none;
} 

.inlineVisuallyHidden {
	display: block !important;
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	border: none !important;
	overflow: hidden !important;
}

/* ===== RESPONSIVE DESIGN ===== */
@media (max-width:1100px){
	div.subWinRes_win{
		left:5%;
		right:5%;
	}

	.remoteInteractiveFrame{
		padding-top: 59%;
	}
}
@media (max-width: 960px){
	#header {
		padding-top: 70px;
		background-color: #fff;
		position: static;
		height: auto;
	}
	#header::before {
		content: "";
		background-color: #fff;
		position: fixed;
		top: 0;
		right: 0;
		height: 70px;
		left: 0;
	}
	#header .inline {
		background-color: #f9f9f9;
		padding: 1em 2.5em;
	}
	#header h1 {
		padding-left: 0;
	}
	
	#header a.rootLnk {
		position: fixed;
		left: 2.5em;
		top: 1em;
	}
	
	#tplBtnNav{
		display:flex;
	}
	#header .btnInHeader {
		position: fixed;
		top: 0;
		line-height: 70px;
		right: 3em;
	}
	#header .btnInHeader.btnTools {
		right: 4.55em;
	}
	
	main{
		margin-top:1em;
		flex-direction: column;
	}
	
	main #toolbox{
		flex: 0 0 auto;
		padding: 0;
	}
	
	#toc {
		position: static;
		box-shadow: none;
		width: 100%;
	}
	
	.navLinks.desk {
		display: none;
	}
	
	.tocContent {
		left: 0;
		top: 70px;
		right: 0;
		width: 100%;
		bottom: 0;
		z-index: 9;
		padding: 0;
		position:fixed;
		display:none;
		max-height: 100%;
		background-color: #fff;
		overflow-y: auto;
	}
	
	.tplNavOpened main .tocContent{
		display:inline;
	}
	
	.tocContent ul a {
		border-left: none;
		border-bottom: 2px solid #c2c4c6;
		padding: 0.7em 2.5em;
		margin: 0;
	}
	.tocContent ul ul ul {
		background-color: #f5f5f5;
		margin: 0;
	}
	
	div.tiles{
		justify-content:center;
	}
	
	div.block {
		margin-left: 0;
		padding: 0;
	}
	
	div.block::before {
		left: 0;
		top: 0;
	}
	
	div.block_ti {
		padding: 0.5em 0 0 66px;
		min-height: 55px;
		box-sizing: border-box;
	}
	
	div.block.information div.block_ti {
		padding: 0;
		min-height: auto;
	}
	
	div.block.warning .block_co {
		padding: 0 1em 1em;
	}

	.remoteInteractiveFrame{
		padding-top: 48%;
	}
}

@media (max-width:700px){
	.remoteInteractiveFrame{
		padding-top: 59%;
	}
}