/* ############# PARAMETRES GENERAUX ############# */
* {
    /* dimensionnement boites : padding+bordures */
    box-sizing: border-box;
    /* type police */
    font-family: 'Open Sans', sans-serif;
    /* <style>@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');</style> */
}

/* ############# BODY ############# */
body {
    /* couleur fond : bleu canard */
    background-color: #048B9A;
}

/* ############# HEADER ############# */
header {
    /* déplacement haut marge extérieur boites */
    margin-top: 0.5em;
    /* type affichage boites */
    display: flex;
    /* deplacement boites : en ligne vers la droite uniquement */
    flex-flow: row nowrap;
    /* espacement horizontal boites */
    justify-content: center;
    /* espacement vertical boites */
    align-items: center;
}

/* ############# MENU NAV ############# */
nav {
    /* couleur fond : chocolat */
    background-color: #5A3A22;
    /* déplacement marge extérieur boites */
    margin: 0.5em 7em 0;
    /* type affichage boites */
    display: flex;
    /* deplacement boites : en ligne vers la droite et vers le bas */
    flex-flow: row wrap;
    /* espacement horizontal boites */
    justify-content: center;
    /* espacement vertical boites */
    align-items: center;
    /* espacement contenu boites */
    align-content: center;
}

/* #### Mise en forme Menu #### */
a {
    /* dimensionnement marge intérieur boites */
    padding: 1em 1.3em;
    /* soulignement liens : aucun */
    text-decoration-line: none;
    /* taille police */
    font-size: 1.6em;
    /* espacement entre lettres */
    letter-spacing: -2.5px;
    /* couleur police */
    color: white;
}

/* #### Mise en forme liens Menu #### */
a:hover {
    /* couleur police au passage souris : chocolat clair */
    background-color: #a79189;
}

/* ############# MAIN CONTENT ############# */
main {
    /* type affichage boites */
    display: flex;
    /* deplacement boites : en ligne vers la droite uniquement */
    flex-flow: row nowrap;
    /* espacement horizontal boites */
    justify-content: space-between;
    /* espacement vertical boites */
    align-items: stretch;
    /* espacement contenu boites */
    align-content: stretch;
}

/* #### Mise en forme titres #### */
h2 {
    /* couleur fond : chocolat */
    background-color: #5A3A22;
    /* dimensionnement marge intérieur boites */
    padding: 0.5em;
    /* bordures arrondi */
    border-radius: 10px;
    /* police caractère : majuscule */
    text-transform: uppercase;
    /* alignement texte */
    text-align: center;
    /* type police */
    font-family: 'PT Sans Narrow', sans-serif;
    /* <style>@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');</style> */
    /* taille police */
    font-size: 1.4em;
    /* couleur police */
    color: white;
}

/* #### Mise en forme paragraphes #### */
p {
    /* espacement entre texte */
    line-height: 30px;
}

/* #### Mise en forme section côté gauche #### */
section {
    /* déplacement marge extérieur boites */
    margin: 0.5em 0 0 7.5em;
    /* largeur contenu */
    width: 70%;
}

/* #### Mise en forme image #### */
#img_choco {
    /* bordures arrondi */
    border-radius: 10px;
}

/* #### Mise en forme titre gauche #### */
section>h2 {
    /* déplacement marge extérieur boites */
    margin: 2em 0.5em 0 0;
}

/* #### Mise en forme paragraphe gauche #### */
section>p {
    /* couleur police */
    color: white;
}

/* #### Mise en forme aside côté droit #### */
aside {
    /* couleur fond : blanc */
    background-color: white;
    /* déplacement marge extérieur boites */
    margin: 0 7em 0 0;
    padding: 0;
    /* largeur contenu */
    width: 30%;
}

/* #### Mise en forme titre droit #### */
aside>h2 {
    /* déplacement marge extérieur boites */
    margin: 2em 1em;
}

/* #### Mise en forme paragraphe gauche #### */
aside>p {}


/* ############# PARAMETRES TABLETTE ############# */
@media screen and (max-width: 960px) {
    main {
        /* deplacement boites : en colonne vers le bas */
        flex-flow: column wrap;
    }
}

/* ############# PARAMETRES MOBILE ############# */
@media screen and (max-width: 560px) {}