/* ############# PARAMETRES GENERAUX ############# */
* {
    /* dimensionnement boites : padding+bordures */
    box-sizing: border-box;
    /* type police */
    font-family: 'Open Sans', sans-serif;
    /* <style>@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');</style> */
}

/* ############# BODY ############# */
body {
    /* couleur fond : bleu canard */
    background-color: #048B9A;
}

/* ############# HEADER ############# */
header {
    /* déplacement haut marge extérieur boites */
    margin-top: 0.5em;
    /* type affichage boites */
    display: flex;
    /* deplacement boites : en ligne vers la droite uniquement */
    flex-flow: row nowrap;
    /* espacement horizontal boites */
    justify-content: center;
    /* espacement vertical boites */
    align-items: center;
}

/* ############# MENU NAV ############# */
nav {
    /* couleur fond : chocolat */
    background-color: #5A3A22;
    /* déplacement marge extérieur boites */
    margin: 0.5em 7em 0;
    /* type affichage boites */
    display: flex;
    /* deplacement boites : en ligne vers la droite uniquement */
    flex-flow: row nowrap;
    /* espacement horizontal boites */
    justify-content: space-evenly;
    /* espacement vertical boites */
    align-items: center;
}

/* #### Mise en forme Menu #### */
a {
    /* dimensionnement marge intérieur boites */
    padding: 1em 0em;
    /* soulignement liens : aucun */
    text-decoration-line: none;
    /* taille police */
    font-size: 1.6em;
    /* espacement entre lettres */
    letter-spacing: -2.5px;
    /* couleur police */
    color: white;
}

/* #### Mise en forme liens Menu #### */
a:hover {
    /* couleur fond au passage souris : chocolat clair */
    background-color: #a79189;
    /* durée transition changement couleur */
    transition-duration: 0.6s;
    /* rythme transition changement couleur : accélération et ralenti progressif */
    transition-timing-function: ease;
}

/* ############# MAIN CONTENT ############# */
main {
    /* type affichage boites */
    display: flex;
    /* deplacement boites : en ligne vers la droite uniquement */
    flex-flow: row nowrap;
    /* espacement horizontal boites */
    justify-content: space-between;
    /* espacement vertical boites */
    align-items: stretch;
}

/* #### Mise en forme titres #### */
h2 {
    /* couleur fond : chocolat */
    background-color: #5A3A22;
    /* dimensionnement marge intérieur boites */
    padding: 0.5em;
    /* bordures arrondi */
    border-radius: 10px;
    /* police caractère : majuscule */
    text-transform: uppercase;
    /* alignement texte */
    text-align: center;
    /* type police */
    font-family: 'PT Sans Narrow', sans-serif;
    /* <style>@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');</style> */
    /* taille police */
    font-size: 1.4em;
    /* couleur police */
    color: white;
}

/* #### Mise en forme paragraphes #### */
p {
    /* espacement entre texte */
    line-height: 30px;
}

/* #### Mise en forme Section côté gauche #### */
section {
    /* déplacement marge extérieur boites */
    margin: 1em 0 0 7.5em;
    /* largeur contenu */
    width: 70%;
}

/* #### Mise en forme image #### */
#img_choco {
    /* bordures arrondi */
    border-radius: 10px;
    /* largeur contenu */
    max-width: 70%;
    /* hauteur contenu */
    height: auto;
}

/* #### Mise en forme titre gauche #### */
section>h2 {
    /* déplacement marge extérieur boites */
    margin: 2em 0.5em 0 0;
}

/* #### Mise en forme paragraphe gauche #### */
section>p {
    /* couleur police */
    color: white;
}

/* #### Mise en forme Aside côté droit #### */
aside {
    /* couleur fond : blanc */
    background-color: white;
    /* déplacement marge extérieur boites */
    margin: 0 7em 0 0;
    /* largeur contenu */
    width: 30%;
}

/* #### Mise en forme titre droit #### */
aside>h2 {
    /* déplacement marge extérieur boites */
    margin: 2em 1em 0;
}

/* #### Mise en forme paragraphe gauche #### */
aside>p {
    /* déplacement marge extérieur boites */
    margin: 1.5em 1.4em 0;
}

/* ############# PARAMETRES TABLETTE ############# */
@media screen and (max-width: 960px) {

    /* ############# MENU NAV ############# */
    nav {
        /* déplacement marge extérieur boites */
        margin: 0.5em 0;
        /* espacement horizontal boites */
        justify-content: space-around;
    }

    /* #### Mise en forme Menu #### */
    a {
        /* dimensionnement marge intérieur boites */
        padding: 1em 0em;
    }

    /* ############# MAIN CONTENT ############# */
    main {
        /* deplacement boites : en colonne uniquement */
        flex-flow: column nowrap;
        /* espacement horizontal boites */
        justify-content: center;
        /* espacement vertical boites */
        align-items: center;
    }

    /* #### Mise en forme Section côté gauche #### */
    section {
        /* déplacement marge extérieur boites */
        margin: 0.5em 0em;
        /* largeur contenu */
        width: 80%;
    }

    /* #### Mise en forme image #### */
    #img_choco {
        /* type affichage boites */
        display: flex;
        /* deplacement boites : en ligne vers la droite uniquement */
        flex-flow: row nowrap;
        /* déplacement marge extérieur boites */
        margin: auto;
    }

    /* #### Mise en forme titre gauche #### */
    section>h2 {
        /* déplacement marge extérieur boites */
        margin: 2em 0 0;
    }

    /* #### Mise en forme Aside côté droit #### */
    aside {
        /* déplacement marge extérieur boites */
        margin: 0;
        /* largeur contenu */
        width: 80%;
    }
}

/* ############# PARAMETRES MOBILE ############# */
@media screen and (max-width: 560px) {

    /* ############# MENU NAV ############# */
    nav {
        /* déplacement marge extérieur boites */
        margin: 0.5em 0;
        /* deplacement boites : en colonne vers le bas */
        flex-flow: column wrap;
        /* espacement horizontal boites */
        justify-content: space-around;
        /* espacement vertical boites */
        align-items: stretch;
    }

    /* #### Mise en forme Menu #### */
    .menu {
        /* dimensionnement marge intérieur boites */
        padding: 1em 0em;
        text-align: center;
    }

    /* ############# MAIN CONTENT ############# */
    main {
        /* espacement contenu boites */
        align-content: stretch;
        /* deplacement boites : en ligne vers la droite uniquement */
        flex-flow: row nowrap;
        /* espacement horizontal boites */
        justify-content: center;
        /* espacement vertical boites */
        align-items: center;
    }

    /* #### Mise en forme Section côté gauche #### */
    section {
        /* déplacement marge extérieur boites */
        margin: 0.5em 0em;
        /* largeur contenu */
        width: 80%;
    }

    /* #### Mise en forme image #### */
    #img_choco {
        /* largeur contenu */
        max-width: 100%;
        /* hauteur contenu */
        height: auto;
    }

    /* #### Mise en forme titre gauche #### */
    section>h2 {
        /* déplacement marge extérieur boites */
        margin: 2em 0 0;
    }

    /* #### Mise en forme Aside côté droit #### */
    aside {
        /* type affichage boites : aucun */
        display: none;
    }
}