/* ############# PARAMETRES GENERAUX ############# */
/* #### Styles police #### */
@font-face {
    font-family: 'hard_rockregular';
    src: url('../fonts/HARD_ROCK/hard_rock-webfont.woff2') format('woff2'),
        url('../fonts/HARD_ROCK/hard_rock-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rocknroll_typo_crazyregular';
    src: url('../fonts/rocknroll_typo_crazy/rocknroll_typo_crazy-webfont.woff2') format('woff2'),
        url('../fonts/rocknroll_typo_crazy/rocknroll_typo_crazy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'the_darkregular';
    src: url('../fonts/TheDark/thedark-webfont.woff2') format('woff2'),
        url('../fonts/TheDark/hedark-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* #### Mise en forme générale #### */
* {
    /* dimensionnement boites : padding+bordures */
    box-sizing: border-box;
}

/* ############# BODY (index) ############# */
/* #### Mise en forme page (index) #### */
body#index {
    /* couleur fond : noir/rouge alterné incliné */
    background-image: linear-gradient(to bottom right, white 15%, blue 35%, rgb(0, 0, 112) 55%, black 100%);
}





/* ############# Entête HEADER (index) ############# */






/* #### Mise en forme barre navigation #### */
header#header_fixe {
    /* largeur contenu */
    max-width: 70%;
    /* hauteur contenu */
    height: auto;

    
    /* positionnement boite */
    position: fixed;
    /* position boite */
    top: 0;
    left: 0;
    /* positionnement arrière plan boite */
    z-index: 2;
}

/* #### Mise en forme logos "thème" (index) #### */
#logo {
    /* largeur contenu */
    max-width: 150px;
    /* hauteur contenu */
    height: auto;
}

#logo_2 {
    /* largeur contenu */
    max-width: 80px;
    /* hauteur contenu */
    height: auto;
    /* positionnement boite */
    position: absolute;
    /* position boite */
    top: 0;
    left: 0;
    /* positionnement arrière plan boite */
    z-index: 2;
}
