/* ############# PARAMETRES GENERAUX ############# */
/* #### types police #### */
/* type pirate */
@font-face {
    font-family: 'jack_pirate_personal_use_onRg';
    src: url(../fonts/jack_pirate/jackpirate_personal_use_only-webfont.woff2) format('woff2'),
        url(../fonts/jack_pirate/jackpirate_personal_use_only-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* type pirate new */
@font-face {
    font-family: 'jack_pirate_alt_personal_usRg';
    src: url(../fonts/jack_pirate_Alt/jackpiratealt_personal_use_only-webfont.woff2)format('woff2'),
        url(../fonts/jack_pirate_Alt/jackpiratealt_personal_use_only-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* type marin */
@font-face {
    font-family: 'drunkensailorregular';
    src: url(../fonts/DrunkenSailor/drunkensailor-webfont.woff2) format('woff2'),
        url(../fonts/DrunkenSailor/drunkensailor-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* type regular */
@font-face {
    font-family: 'laurensregular';
    src: url(../fonts/Laurens/laurens_demo-webfont.woff2) format('woff2'),
        url(../fonts/Laurens/laurens_demo-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* type calligraphie */
@font-face {
    font-family: 'lombardia_script_personal_uRg';
    src: url(../fonts/lombardia_script/lombardiascript_personal_use_only-webfont.woff2) format('woff2'),
        url(../fonts/lombardia_script/lombardiascript_personal_use_only-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* type western */
@font-face {
    font-family: 'western_samurairegular';
    src: url(../fonts/Western_Samurai/western_samurai-webfont.woff2) format('woff2'),
        url(../fonts/Western_Samurai/western_samurai-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* #### Mise en forme générale #### */
* {
    /* dimensionnement boite : padding+bordures */
    box-sizing: border-box;
}

/* ############# BODY (HTML index + pages 1-2-3) ############# */
/* #### Mise en forme fond animé page #### */
video {
    /* largeur */
    width: 100vw;
    /* hauteur */
    height: 100vh;
    /* taille objectif */
    object-fit: cover;
    /* type positionnement boite */
    position: fixed;
    /* position */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* positionnement plan */
    z-index: -2;
}

/* #### Mise en forme fond couleur page #### */
.fondColor {
    /* couleur fond dégradé */
    background-image: linear-gradient(to bottom, rgb(255, 255, 0, 0.6) 0.1%, rgb(255, 255, 255) 6%, rgb(0, 0, 255, 0.4) 35%, rgb(0, 0, 112, 0.5) 50%, rgb(0, 0, 0) 100%);
    /* largeur */
    width: 100vw;
    /* hauteur */
    height: 100vh;
    /* taille objectif */
    object-fit: cover;
    /* type positionnement boite */
    position: fixed;
    /* position */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* positionnement plan */
    z-index: -1;
}

/* ############# Menu NAV (HTML index + pages 1-2-3) ############# */
/* #### Mise en forme menu navigation #### */
nav.menuFixe {
    /* opacité fond */
    backdrop-filter: blur(15px);
    /* largeur */
    width: 100%;
    /* hauteur */
    height: auto;
    /* type positionnement boite */
    position: fixed;
    /* position */
    top: 0;
    left: 0;
    /* positionnement plan */
    z-index: 2;
    /* paramètrage bordures */
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

/* #### Mise en forme texte "Sommaire" logos #### */
.warp {
    /* type affichage boite */
    display: block;
    /* type positionnement boite */
    position: relative;
    /* largeur */
    width: 180px;
    /* hauteur */
    height: 100px;
    /* dimensionnement marge extérieure */
    margin-left: -1.5em;
    /* type police */
    font-family: 'western_samurairegular';
    /* taille police */
    font-size: 1.5em;
    /* type caractère */
    text-transform: uppercase;
    /* style police */
    font-style: italic;
    /* soulignement texte */
    text-decoration: none;
    /* couleur police */
    color: white;

}

/* #### Mise en forme lettres texte logos #### */
[class*='warp__'] {
    /* type affichage boite */
    display: block;
    /* type positionnement boite */
    position: absolute;
    /* positionnement plan */
    z-index: 3;
}

/* #### Mise en forme lettre "S" texte logos #### */
.warp__0 {
    /* transformation */
    transform-origin: 50% 32px;
    transform: translate(50.8159px, 8.798099999999998px) rotate(1.302453rad);
}

/* #### Mise en forme lettre "O" texte logos #### */
.warp__1 {
    /* transformation */
    transform-origin: 50% 32px;
    transform: translate(52.3454px, 28.5959px) rotate(1.143672rad);
}

/* #### Mise en forme lettre "M" texte logos #### */
.warp__2 {
    /* transformation */
    transform-origin: 50% 32px;
    transform: translate(66.0025px, 52.366200000000006px) rotate(0.724911rad);
}

/* #### Mise en forme lettre "M" texte logos #### */
.warp__3 {
    /* transformation */
    transform-origin: 50% 32px;
    transform: translate(95.7465px, 64.0116px) rotate(0.033594rad);
}

/* #### Mise en forme lettre "A" texte logos #### */
.warp__4 {
    /* transformation */
    transform-origin: 50% 32px;
    transform: translate(127.10230000000001px, 57.2521px) rotate(-0.580707rad);
}

/* #### Mise en forme lettre "I" texte logos #### */
.warp__5 {
    /* transformation */
    transform-origin: 50% 32px;
    transform: translate(144.4266px, 47.85039999999999px) rotate(-0.882546rad);
}

/* #### Mise en forme lettre "R" texte logos #### */
.warp__6 {
    /* transformation */
    transform-origin: 50% 32px;
    transform: translate(145.0388px, 36.0977px) rotate(-1.09542rad);
}

/* #### Mise en forme lettre "E" texte logos #### */
.warp__7 {
    /* transformation */
    transform-origin: 50% 32px;
    transform: translate(152.6967px, 16.130200000000002px) rotate(-1.294659rad);
}

/* #### Mise en forme logo "planète" #### */
.logoNav {
    /* largeur */
    width: 100px;
    /* hauteur */
    height: auto;
    /* type positionnement boite */
    position: fixed;
    /* position */
    top: 0.5rem;
    left: 2rem;
    /* positionnement plan */
    z-index: 1;
    /* luminosité */
    filter: brightness(1.7);
    /* transformation */
    transform: rotate(130deg);
}

/* #### Mise en forme logo "France" #### */
.logoNav2 {
    /* largeur */
    width: 40px;
    /* hauteur */
    height: auto;
    /* type positionnement boite */
    position: fixed;
    /* position */
    top: 2.2rem;
    left: 3.7rem;
    /* positionnement plan */
    z-index: 2;
}

/* #### Mise en forme lien logos + texte #### */
.logosNav:hover {
    /* luminosité */
    filter: brightness(4);





}

/* #### Mise en forme texte lien "Sommaire" #### */
div.warp:hover {
    /* couleur police */
    color: blue;
}

/* #### Mise en forme texte menu navigation #### */
div>ul.navbar-nav {
    /* alignement boite */
    align-items: flex-end !important;
}

/* #### Mise en forme liens navigation #### */
nav a.police {
    /* dimensionnement marge intérieure */
    padding: 0.5em !important;
    /* type police */
    font-family: 'western_samurairegular';
    /* taille police */
    font-size: 2.5em;
    /* type caractère */
    text-transform: uppercase;
    /* style police */
    font-style: italic;
    /* soulignement texte */
    text-decoration: none;
    /* alignement texte */
    text-align: end;
    /* couleur police */
    color: rgb(6, 6, 160);
}

/* #### Mise en forme texte liens navigation #### */
nav a.police:hover {
    /* luminosité */
    filter: brightness(4);
    /* couleur police */
    color: blue;
}

/* ############# Entête HEADER (HTML index + pages 1-2-3) ############# */
/* #### Mise en forme titre principal #### */
header>h1 {
    /* dimensionnement marge extérieure */
    margin-bottom: 0.5em;
    /* dimensionnement marge intérieure */
    padding: 1em 1em 0em 1em;
    /* type police */
    font-family: 'drunkensailorregular';
    /* taille police */
    font-size: 10em;
    /* épaisseur texte */
    font-weight: bolder;
    /* alignement texte */
    text-align: center;
    /* couleur police */
    color: rgb(255, 255, 255, 0.8);
}















/* ############# Bas-page FOOTER (HTML index + pages 1-2-3) ############# */
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}






















/* ############# PARAMETRES PC PORTABLE ############# */
@media screen and (max-width: 1024px) {

    /* ############# Entête HEADER (HTML index + pages 1-2-3) ############# */
    /* #### Mise en forme titre principal "thème" #### */
    header>h1 {
        /* taille police */
        font-size-adjust: 10em;
    }







}


/* ############# PARAMETRES TABLETTE ############# */
@media screen and (max-width: 768px) {}




/* ############# PARAMETRES MOBILE ############# */
@media screen and (max-width: 425px) {}