/* ############# PARAMETRES GENERAUX ############# */
/* #### types police #### */
/* type pirate */
@font-face {
    font-family: 'jack_pirate_personal_use_onRg';
    src: url(../fonts/jack_pirate/jackpirate_personal_use_only-webfont.woff2) format('woff2'),
        url(../fonts/jack_pirate/jackpirate_personal_use_only-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* type pirate new */
@font-face {
    font-family: 'jack_pirate_alt_personal_usRg';
    src: url(../fonts/jack_pirate_Alt/jackpiratealt_personal_use_only-webfont.woff2)format('woff2'),
        url(../fonts/jack_pirate_Alt/jackpiratealt_personal_use_only-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* type marin */
@font-face {
    font-family: 'drunkensailorregular';
    src: url(../fonts/DrunkenSailor/drunkensailor-webfont.woff2) format('woff2'),
        url(../fonts/DrunkenSailor/drunkensailor-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* type regular */
@font-face {
    font-family: 'barfiola_free_for_personal_Rg';
    src: url(../fonts/Barfiola/barfiola-webfont.woff2) format('woff2'),
        url(../fonts/Barfiola/barfiola-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* type calligraphie */
@font-face {
    font-family: 'lombardia_script_personal_uRg';
    src: url(../fonts/lombardia_script/lombardiascript_personal_use_only-webfont.woff2) format('woff2'),
        url(../fonts/lombardia_script/lombardiascript_personal_use_only-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* type western */
@font-face {
    font-family: 'western_samurairegular';
    src: url(../fonts/Western_Samurai/western_samurai-webfont.woff2) format('woff2'),
        url(../fonts/Western_Samurai/western_samurai-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* #### Mise en forme générale #### */
* {
    /* dimensionnement boite : padding+bordures */
    box-sizing: border-box;
}

/* ############# BODY (HTML index + pages 1-2-3) ############# */
/* #### Mise en forme fond animé page #### */
video {
    /* type positionnement boite */
    position: fixed;
    /* position */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* largeur */
    width: 100%;
    /* hauteur */
    height: 100%;
    /* taille objectif */
    object-fit: cover;
    /* positionnement plan */
    z-index: -2;
}

/* #### Mise en forme fond couleur page #### */
.fondColor {
    /* couleur fond */
    background-image: linear-gradient(to bottom, rgb(255, 255, 0, 0.6) 0.1%, rgb(255, 255, 255) 6%, rgb(0, 0, 255, 0.4) 35%, rgb(0, 0, 112, 0.5) 50%, rgb(0, 0, 0) 100%);
    /* type positionnement boite */
    position: fixed;
    /* position */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* largeur */
    width: 100%;
    /* hauteur */
    height: 100%;
    /* taille objectif */
    object-fit: cover;
    /* positionnement plan */
    z-index: -1;
}

/* ############# Menu NAV (HTML index + pages 1-2-3) ############# */
/* #### Mise en forme menu navigation #### */
nav.menuFixe {
    /* opacité fond */
    backdrop-filter: blur(15px);
    /* type positionnement boite */
    position: fixed;
    /* position */
    top: 0;
    left: 0;
    /* largeur */
    width: 100%;
    /* hauteur */
    height: auto;
    /* positionnement plan */
    z-index: 1;
    /* paramètrage bordures */
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

/* #### Mise en forme texte "Sommaire" logos #### */
.warp {
    /* type positionnement boite */
    position: relative;
    /* largeur */
    width: 200px;
    /* hauteur */
    height: auto;
    /* type police */
    font-family: 'western_samurairegular';
    /* taille police */
    font-size: 1.5vw;
    /* type caractère */
    text-transform: uppercase;
    /* style police */
    font-style: italic;
    /* soulignement texte */
    text-decoration: none;
    /* couleur police */
    color: white;
}

/* #### Mise en forme lettres texte logos #### */
[class*='warp__'] {
    /* type positionnement boite */
    position: absolute;
    /* positionnement plan */
    z-index: 3;
}

/* #### Mise en forme lettre "S" texte logos #### */
.warp__0 {
    /* transformation */
    transform-origin: bottom left;
    transform: translate(50px, 5px) rotate(70deg);
}

/* #### Mise en forme lettre "O" texte logos #### */
.warp__1 {
    /* transformation */
    transform-origin: bottom left;
    transform: translate(55px, 30px) rotate(45deg);
}

/* #### Mise en forme lettre "M" texte logos #### */
.warp__2 {
    /* transformation */
    transform-origin: bottom left;
    transform: translate(70px, 45px) rotate(30deg);
}

/* #### Mise en forme lettre "M" texte logos #### */
.warp__3 {
    /* transformation */
    transform-origin: bottom right;
    transform: translate(100px, 60px);
}

/* #### Mise en forme lettre "A" texte logos #### */
.warp__4 {
    /* transformation */
    transform-origin: bottom right;
    transform: translate(130px, 50px) rotate(-30deg);
}

/* #### Mise en forme lettre "I" texte logos #### */
.warp__5 {
    /* transformation */
    transform-origin: bottom right;
    transform: translate(150px, 40px) rotate(-45deg);
}

/* #### Mise en forme lettre "R" texte logos #### */
.warp__6 {
    /* transformation */
    transform-origin: bottom right;
    transform: translate(155px, 25px) rotate(-60deg);
}

/* #### Mise en forme lettre "E" texte logos #### */
.warp__7 {
    /* transformation */
    transform-origin: bottom right;
    transform: translate(165px, 5px) rotate(-85deg);
}

/* #### Mise en forme logo "planète" #### */
.logoNav {
    /* type positionnement boite */
    position: relative;
    /* position */
    top: 0;
    margin-left: 60px;
    /* largeur */
    width: 100px;
    /* hauteur */
    height: auto;
    /* positionnement plan */
    z-index: 1;
    /* luminosité */
    filter: brightness(1.7);
    /* transformation */
    transform: rotate(130deg);
}

/* #### Mise en forme logo "France" #### */
.logoNav2 {
    /* type positionnement boite */
    position: absolute;
    /* position */
    top: 25px;
    margin-left: -70px;
    /* largeur */
    width: 40px;
    /* hauteur */
    height: auto;
    /* positionnement plan */
    z-index: 2;
}

/* #### Mise en forme lien logos + texte #### */
.logosNav:hover {
    /* luminosité */
    filter: brightness(4);
}

/* #### Mise en forme texte lien "Sommaire" #### */
div.warp:hover {
    /* couleur police */
    color: blue;
}

/* #### Mise en forme texte menu navigation #### */
div>ul.navbar-nav {
    /* alignement boite */
    align-items: flex-end !important;
}

/* #### Mise en forme liens navigation #### */
nav a.police {
    /* dimensionnement marge intérieure */
    padding: 0.5em !important;
    /* type police */
    font-family: 'western_samurairegular';
    /* taille police */
    font-size: 2.4vw;
    /* type caractère */
    text-transform: uppercase;
    /* style police */
    font-style: italic;
    /* soulignement texte */
    text-decoration: none;
    /* alignement texte */
    text-align: end;
    /* couleur police */
    color: rgb(6, 6, 160);
}

/* #### Mise en forme texte liens navigation #### */
nav a.police:hover {
    /* luminosité */
    filter: brightness(4);
    /* couleur police */
    color: blue;
}

/* #### Mise en forme menu déroulant #### */
nav .dropMenu {
    /* couleur fond */
    background-color: rgb(37, 36, 36, 0.75);
}

/* #### Mise en forme liens menu #### */
nav a.policeMenu {
    /* dimensionnement marge intérieure */
    padding: 0.2em !important;
    /* type police */
    font-family: 'jack_pirate_personal_use_onRg';
    /* taille police */
    font-size: 2vw;
    /* couleur police */
    color: white;
}

/* #### Mise en forme texte liens menu #### */
nav a.policeMenu:hover {
    /* couleur police */
    color: blue;
}

/* ############# Entête HEADER (HTML index + pages 1-2-3) ############# */
/* #### Mise en forme titre principal #### */
header>h1 {
    /* dimensionnement marge extérieure */
    margin: 2em 0.5em 0.5em;
    /* type police */
    font-family: 'drunkensailorregular';
    /* taille police */
    font-size: 5vw;
    /* épaisseur texte */
    font-weight: bolder;
    /* alignement texte */
    text-align: center;
    /* couleur police */
    color: rgb(255, 255, 255, 0.8);
}

/* ############# Bas-page FOOTER (HTML index + pages 1-2-3) ############# */
/* #### Mise en forme bas-page #### */
footer>div.text-center {
    /* opacité fond */
    backdrop-filter: blur(2px);
    /* dimensionnement marge extérieure */
    margin-top: 5em;
    /* type positionnement boite */
    position: absolute;
    /* position */
    left: 0;
    right: 0;
    bottom: -1;
    /* type affichage boite */
    display: flex;
    /* deplacement boite */
    flex-flow: column nowrap;
    /* ecartement boite */
    justify-content: center;
    /* alignement boite */
    align-items: center;
    /* positionnement plan */
    z-index: 1;
    /* paramètrage bordures */
    border-top: 1px solid rgb(0, 0, 0, 0.2);
}

/* #### Mise en forme titre bas-page #### */
footer h4 {
    /* dimensionnement marge extérieure */
    margin: 0.5em 0 0;
    /* type police */
    font-family: 'lombardia_script_personal_uRg';
    /* taille police */
    font-size: 1.8vw;
    /* épaisseur texte */
    font-weight: bolder;
    /* alignement texte */
    text-align: center;
    /* couleur police */
    color: rgb(255, 215, 0, 0.7);
}

/* #### Mise en forme photo "moi" #### */
.photoMoi {
    /* dimensionnement marge extérieure */
    margin: 2em 0em;
    /* largeur */
    width: 15%;
    /* hauteur */
    height: auto;
    /* arrondi bordures */
    border-radius: 60%;
}

/* #### Mise en forme contact bas-page #### */
footer a,
footer p {
    /* dimensionnement marge extérieure */
    margin: 0.5em 0 0;
    /* type police */
    font-family: 'barfiola_free_for_personal_Rg';
    /* taille police */
    font-size: 0.8vw;
    /* soulignement texte */
    text-decoration: none;
    /* alignement texte */
    text-align: center;
    /* couleur police */
    color: rgb(255, 255, 255, 0.75);
}

p span {
    /* couleur police */
    color: rgb(255, 0, 0, 0.75);
}

p span:hover {
    /* couleur police */
    color: rgb(0, 0, 255);
}

/* #### types transformations bas-page FOOTER #### */
@keyframes move_wave {
    0% {
        /* transformation */
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        /* transformation */
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        /* transformation */
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

/* #### Mise en forme fond animé page #### */
.waveWrapperInner {
    /* couleur fond */
    background-color: rgb(0, 0, 0, 0.6);
    /* largeur */
    width: 100%;
    /* hauteur */
    height: 100%;
    /* Dépassement texte */
    overflow: hidden;
}

/* #### Mise en forme fond "vague haut" #### */
.bgTop {
    /* positionnement plan */
    z-index: 3;
    /* clarté */
    opacity: 0.5;
}

/* #### Mise en forme fond "vague milieu" #### */
.bgMiddle {
    /* positionnement plan */
    z-index: 2;
    /* clarté */
    opacity: 0.75;
}

/* #### Mise en forme fond "vague basse" #### */
.bgBottom {
    /* positionnement plan */
    z-index: 1;
}

/* #### Mise en forme fond vagues #### */
.wave {
    /* type positionnement boite */
    position: fixed;
    /* position */
    bottom: 0;
    /* largeur */
    width: 200%;
    /* hauteur */
    height: 200%;
    /* répétition fond */
    background-repeat: repeat no-repeat;
    /* position fond */
    background-position: 0 bottom;
    /* transformation */
    transform-origin: center bottom;
}

/* #### Mise en forme fond "vague haut" page #### */
.waveTop {
    /* paramètres fond */
    background-size: 50% 100px;
}

/* #### Mise en forme fond animé "vague haute" page #### */
.waveAnimation .waveTop {
    /* paramètres animation */
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

/* #### Mise en forme fond "vague milieu" page #### */
.waveMiddle {
    /* paramètres fond */
    background-size: 50% 120px;
}

/* #### Mise en forme fond animé "vague milieu" page #### */
.waveAnimation .waveMiddle {
    /* paramètres animation */
    animation: move_wave 15s linear infinite;
}

/* #### Mise en forme fond "vague basse" page #### */
.waveBottom {
    /* paramètres fond */
    background-size: 50% 100px;
}

/* #### Mise en forme fond animé "vague basse" page #### */
.waveAnimation .waveBottom {
    /* paramètres animation */
    animation: move_wave 20s linear infinite;
}

/* ############# PARAMETRES PC 4K ############# */
@media screen and (min-width: 1440px) {

    /* ############# Menu NAV (HTML index + pages 1-2-3) ############# */
    /* #### Mise en forme texte "Sommaire" menu navigation #### */
    ul>li.sommaire {
        /* type affichage boite */
        display: none;
    }
}

/* ############# PARAMETRES MOBILE + PC PORTABLE ############# */
@media screen and (min-width: 200px) and (max-width: 1439px) {

    /* ############# Menu NAV (HTML index + pages 1-2-3) ############# */
    /* #### Mise en forme texte "Sommaire" logos #### */
    [class*='warp__'] {
        /* type affichage boite */
        display: none;
    }
}

/* ############# PARAMETRES PC PORTABLE ############# */
@media screen and (max-width: 1024px) {

    /* #### Mise en forme logo "planète" #### */
    .logoNav {
        /* position */
        top: 0;
        margin-left: 20px;
        /* largeur */
        width: 50px;
        /* hauteur */
        height: auto;
    }

    /* #### Mise en forme logo "France" #### */
    .logoNav2 {
        /* position */
        top: 15px;
        margin-left: -35px;
        /* largeur */
        width: 20px;
        /* hauteur */
        height: auto;
    }
}

/* ############# PARAMETRES MOBILE ############# */
@media screen and (max-width: 425px) {

    /* ############# Menu NAV (HTML index + pages 1-2-3) ############# */
    /* #### Mise en forme bouton menu navigation #### */
    button.navbar-toggler {
        /* dimensionnement marge intérieure */
        padding: 0;
        /* largeur */
        max-width: 35px;
        /* hauteur */
        height: 25px;
    }

    /* #### Mise en forme icone bouton menu navigation #### */
    span.navbar-toggler-icon {
        /* dimensionnement marge intérieure */
        padding: 0;
        /* largeur */
        max-width: 20px;
        /* hauteur */
        height: 20px;
    }

    /* ############# Entête HEADER (HTML index + pages 1-2-3) ############# */
    /* #### Mise en forme titre principal #### */
    header>h1 {
        /* dimensionnement marge extérieure */
        margin-top: 3em;
    }
}