/* ############# PARAMETRES GENERAUX ############# */
/* #### Styles police #### */


/* #### Mise en forme générale #### */
* {
    /* dimensionnement boites : padding+bordures */
    box-sizing: border-box;
}

/* ############# BODY (HTML index) ############# */
/* #### Mise en forme fond animé page #### */
video {
    /* largeur */
    width: 100vw;
    /* hauteur */
    height: 100vh;
    /* taille objectif */
    object-fit: cover;
    /* type positionnement */
    position: fixed;
    /* position */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* #### Mise en forme fond couleur page #### */
.fondColor {
    /* couleur fond dégradé */
    background-image: linear-gradient(to bottom, rgb(255, 255, 0, 0.6) 0.1%, rgb(255, 255, 255) 6%, rgb(0, 0, 255, 0.4) 35%, rgb(0, 0, 112, 0.5) 50%, rgb(0, 0, 0) 100%);
    /* largeur */
    width: 100vw;
    /* hauteur */
    height: 100vh;
    /* taille objectif */
    object-fit: cover;
    /* type positionnement */
    position: fixed;
    /* position */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* ############# Menu NAV (HTML index + pages 1-2-3) ############# */
/* #### Mise en forme menu navigation #### */
nav {

    /* opacité fond */
    backdrop-filter: blur(10px);


    /* dimensionnement marge intérieure */
    /*padding: 0 !important;


    /* type positionnement */
    position: fixed;
    /* position */
    top: 0;
    left: 0;
    /* positionnement plan */
    z-index: 1;
    /* paramètrage bordures */
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

/* #### Mise en forme logo "planète" #### */
.logoNav {
    /* largeur */
    max-width: 80px;
    /* hauteur */
    height: auto;
    /* type positionnement */
    position: fixed;
    /* position */
    top: 0.4rem;
    left: 0.7rem;
    /* positionnement plan */
    z-index: 1;
    /* luminosité */
    filter: brightness(1.7);
    /* rotation */
    transform: rotate(130deg);
}

/* #### Mise en forme logo "France" #### */
.logoNav2 {
    /* largeur */
    max-width: 40px;
    /* hauteur */
    height: auto;
    /* type positionnement */
    position: fixed;
    /* position */
    top: 1.5rem;
    left: 1.8rem;
    /* positionnement plan */
    z-index: 2;
}



/* #### Mise en forme surbrillance logos "planète + France #### */

.logosNav:hover {
    /* luminosité */
    filter: brightness(4);
}

div>ul {
    /* alignement boites */
    align-items: flex-end !important;
}






/* #### Mise en forme liens navigation #### */
li>a {
    /* dimensionnement marge intérieure *
    padding: 0.5em 4em !important;

    /* type police */
    font-family: 'the_darkregular';
    /* taille police */
    font-size: 1.5em;
    /* type caractère */
    text-transform: uppercase;
    /* espacement entre lettres */
    letter-spacing: -1px;
    /* espacement entre mots */
    word-spacing: 3px;
    /* couleur police */
    color: red;
}



/* #### Mise en forme texte liens navigation #### */
li>a:hover {
    /* couleur police */
    color: white;
}

















/* ############# Bas-page FOOTER (HTML index + pages 1-2-3) ############# */























/* ############# PARAMETRES PC PORTABLE ############# */
@media screen and (max-width: 1024px) {}




/* ############# PARAMETRES TABLETTE ############# */
@media screen and (max-width: 768px) {}




/* ############# PARAMETRES MOBILE ############# */
@media screen and (max-width: 425px) {}