/* ############# PARAMETRES GENERAUX ############# */
/* #### Styles police #### */


/* #### Mise en forme générale #### */
* {
    /* dimensionnement boites : padding+bordures */
    box-sizing: border-box;
}

/* ############# Entête HEADER (HTML index) ############# */
/* #### Mise en forme titre principal "thème" #### */
header>h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-align: center;
}


/* #### Mise en forme "chiffre3" titre principal "thème" #### */
#chiffre3 {
    /* largeur */
    max-width: 90px;
    /* hauteur */
    height: auto;
}