/* Proudly created with www.csswarp.com */

/* Adapt path to font file and format depending on your build settings. */

@font-face {
    font-family: thedark;
    src: url(path/to/font/file/thedark) format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

.warp__placeholder{
    position: absolute;
    color: transparent;
    font-size: .1px;
}

.warp {
    display: block;
    position: relative;
    width: 230px;
    height: 103px;
    font: italic normal 50px/1 thedark;
}

[class*='warp__'] {
    display: block;
    position: absolute;
}

.warp__0 {
    transform-origin: 50% 32px;
    transform: translate(50.8159px,8.798099999999998px) rotate(1.302453rad);
}

.warp__1 {
    transform-origin: 50% 32px;
    transform: translate(52.3454px,28.5959px) rotate(1.143672rad);
}

.warp__2 {
    transform-origin: 50% 32px;
    transform: translate(66.0025px,52.366200000000006px) rotate(0.724911rad);
}

.warp__3 {
    transform-origin: 50% 32px;
    transform: translate(95.7465px,64.0116px) rotate(0.033594rad);
}

.warp__4 {
    transform-origin: 50% 32px;
    transform: translate(127.10230000000001px,57.2521px) rotate(-0.580707rad);
}

.warp__5 {
    transform-origin: 50% 32px;
    transform: translate(144.4266px,47.85039999999999px) rotate(-0.882546rad);
}

.warp__6 {
    transform-origin: 50% 32px;
    transform: translate(145.0388px,36.0977px) rotate(-1.09542rad);
}

.warp__7 {
    transform-origin: 50% 32px;
    transform: translate(152.6967px,16.130200000000002px) rotate(-1.294659rad);
}