* {
    color: red;
}

body {
    margin: 6px solid white;
    border: 5px solid rgba(0, 0, 0, 0.5);
    padding: 3px solid green;


    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(18, 209, 200, 0.5)),
        url(../img/fond_AFPA.png);
    background-color: hsl(286, 51%, 27%);
}

.padding {
    background-clip: padding-box;
    display: flex;
    flex-flow: row wrap;

}

h1 {
    font-size: 48pt;
    color: brown;
    font-style: italic;
    border-bottom: solid thin black;
}

p {
    font-size: 12pt;
    line-height: 30pt;
    font-family: Arial;
    letter-spacing: 0.2mm;
    word-spacing: 0.8mm;
    color: rgb(234, 0, 255);
}

*.txtorange {
    color: orange;
    line-height: 6px;
}

#one,
.lien {
    color: blue;
    text-align: center;
}

.txtvert {
    background: linear-gradient(to right, white, black);
    box-shadow: 10px 5 px 5px red;
    text-shadow: 1px 1px 2px pink;
    color: green;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: aliceblue;
}

h2,
.txtjaune,
#two {
    color: rgb(255, 238, 0);
}

h5 a:hover {
    color: white;
}

h1::before {
    content: "(*)";
}

h6::after {
    content: "(*)";
}

.content {
    background-clip: padding-box;
    display: block;

}

.verte {
    position: relative;
    background-color: #00ff00;
    padding-top: 5em;
    padding-right: 10em;
    width: 30em;
}

.jaune {
    position: absolute;
    top: 0em;
    right: 4em;
    width: 10em;
    background-color: #ffff00;
}

.jaune2 {
    background-color: #ffff00;
    float: right;
    width: 100px;
    margin: 0;
}

.verte2 {
    background-color: #00ff00;
}