/* #### Mise en forme générale #### */
* {
  /* dimensionnement boite : padding+bordures */
  box-sizing: border-box;
  /* style police */
  font-family: 'Roboto', sans-serif;
}

/* #### Mise en forme "Titres" #### */
h1 {
  /* marge extérieure */
  margin: 0;
  /* marge intérieure */
  padding: 20px 0;
  /* couleur police */
  color: white;
  /* alignement horizontal texte */
  text-align: center;
  /* alignement vertical texte */
  vertical-align: center;
  /* épaisseur police */
  font-weight: bolder;
}

/* #### Mise en forme "Liste et panier achats" #### */
h1.position {
  /* type positionnement */
  position: fixed;
  /* position */
  top: 0;
  left: 0;
  right: 0;
  /* position arrière plan */
  z-index: 2;
}

#panierList {
  /* type positionnement */
  position: fixed;
  /* position */
  top: 0;
  left: 0;
  right: 0;
  /* position arrière plan */
  z-index: 1;
  /* marge intérieure */
  padding: 20px 0;
  /* affichage block */
  display: flex;
  /* déplacement block */
  flex-flow: row nowrap;
  /* déplacement horizontal */
  justify-content: space-between;
  /* déplacement vertical */
  align-items: center;
  /* couleur fond */
  background-color: black;
}

.btnCdePanier {
  /* marge extérieure */
  margin: 0 0 0 50px;
  /* marge intérieure */
  padding: 5px 0;
  /* largeur */
  width: 150px;
  /* alignement horizontal texte */
  text-align: center;
  /* arrondi bordure */
  border-radius: 5px;
  /* paramètres bordures */
  border: 2px solid rgb(255, 0, 0, 0.7);
  /* épaisseur police */
  font-weight: bolder;
  /* couleur fond */
  background-color: rgb(128, 128, 128);
}

.ensemblePanier {
  /* affichage block */
  display: flex;
}

.imgPanier {
  /* largeur */
  width: 50px;
  /* hauteur */
  height: auto;
}

#quantite {
  /* marge extérieure */
  margin: 0 50px 0 10px;
  /* marge intérieure */
  padding: 5px 0;
  /* largeur */
  width: 50px;
  /* alignement horizontal texte */
  text-align: center;
  /* arrondi bordure */
  border-radius: 5px;
}

.listPanierAchat {
  /* marge extérieure */
  margin-top: 150px;
}

/* #### Mise en forme "Recherche BD" #### */
h1.marge {
  /* marge extérieure */
  margin: 150px 0 0;
  /* couleur fond */
  background-color: black;
}

.searchListBD {
  /* affichage block */
  display: flex;
  /* déplacement block */
  flex-flow: row nowrap;
  /* déplacement horizontal */
  justify-content: space-evenly;
  /* déplacement vertical */
  align-items: center;
  /* couleur fond */
  background-color: grey;
  /* marge intérieure */
  padding: 10px 0;
}

label {
  /* marge extérieure */
  margin: 0;
}

.btnRadio {
  /* affichage block */
  display: flex;
  /* déplacement vertical */
  align-items: center;
}

#author,
#serie,
#title {
  /* largeur */
  width: 20px;
  /* hauteur */
  height: 20px;
}

#searchBd {
  /* largeur */
  width: 250px;
  /* hauteur */
  height: auto;
}

/* #### Mise en forme "Affichage BD" #### */
div>.card {
  /* affichage block */
  display: flex;
  /* déplacement block */
  flex-flow: row wrap;
  /* déplacement horizontal */
  justify-content: flex-start;
}

.imgBd {
  /* largeur */
  width: 200px;
  /* hauteur */
  height: 250px;
  /* marge intérieure */
  padding: 5px;
  /* arrondi bordures */
  border-radius: 10px;
}

ul {
  /* marge extérieure */
  margin: auto 0;
  /* marge intérieure */
  padding: auto;
  /* affichage block */
  display: flex;
  /* déplacement block */
  flex-flow: column nowrap;
  /* déplacement horizontal */
  justify-content: center;
}

ul>li {
  /* style liste */
  list-style-type: none;
}

div .bdTitleInfo {
  /* espacement interligne */
  line-height: 0;
}

.btnAjoutPanier {
  /* marge extérieure */
  margin: auto 50px auto auto;
  /* marge intérieure */
  padding: 10px 0;
  /* largeur */
  width: 200px;
  /* hauteur */
  height: 10%;
  /* paramètres bordures */
  border: 2px solid;
  /* arrondi bordure */
  border-radius: 5px;
  /* épaisseur police */
  font-weight: bolder;
}