/* #################### PARAMETRES GENERAUX #################### */
/* ########## type police ########## */
@font-face {
    font-family: 'go_around_the_books_2022Rg';
    src: url(../fonts/go_around_the_books_2022/go_around_the_books_2022-webfont.woff2) format('woff2'),
        url(../fonts/go_around_the_books_2022/go_around_the_books_2022-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ########## type police ########## */
@font-face {
    font-family: 'stranger_thingsregular';
    src: url(../fonts/strangerThings_Regular/strangerthings-regular-webfont.woff2) format('woff2'),
        url(../fonts/strangerThings_Regular/strangerthings-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ########## type police ########## */
@font-face {
    font-family: 'times_sans_serifregular';
    src: url(../fonts/times_sans_serif/timess__-webfont.woff2) format('woff2'),
        url(../fonts/times_sans_serif/timess__-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ########## Mise en forme générale ########## */
* {
    /* type dimensionnement boites */
    box-sizing: border-box;
}

/* ########## Mise en forme Body ########## */
.styleTitre,
.stylePrenom,
.stylePoids,
.styleTaille,
.styleCalcul,
.styleInfos {
    /* affichage block */
    display: flex;
    /* déplacement block */
    flex-flow: column wrap;
    /* déplacement horizontal */
    justify-content: center;
    /* déplacement vertical */
    align-items: center;
}

/* ########## Mise en forme Labels ########## */
.styleLabel {
    /* marge extérieure */
    margin: 35px 0 10px;
    /* type police */
    font-family: 'stranger_thingsregular';
    /* taille police */
    font-size: 20px;
}

/* ########## Mise en forme Inputs ########## */
.styleInput {
    /* marge intérieure */
    padding: 10px 0;
    /* largeur */
    width: 300px;
    /* hauteur */
    height: auto;
    /* type police */
    font-family: 'times_sans_serifregular';
    /* taille police */
    font-size: 20px;
    /* alignement horizontal texte */
    text-align: center;
    /* alignement vertical texte */
    vertical-align: center;
    /* paramètres bordures */
    border: 1px solid black;
    /* arrondi bordures */
    border-radius: 5px;
}

/* ########## Mise en forme Bouton ########## */
.styleBtn {
    /* marge extérieure */
    margin: 60px 0;
    /* marge intérieure */
    padding: 10px 0;
    /* largeur */
    width: 400px;
    /* hauteur */
    height: auto;
    /* type police */
    font-family: 'go_around_the_books_2022Rg';
    /* epaisseur police */
    font-weight: bolder;
    /* taille police */
    font-size: 30px;
    /* alignement horizontal texte */
    text-align: center;
    /* alignement vertical texte */
    vertical-align: center;
    /* paramètres bordures */
    border: 5px double black;
    /* arrondi bordures */
    border-radius: 5px;
    /* couleur fond */
    background-color: rgb(170, 170, 170, 0.9);
}

/* ########## Mise en forme Titre ########## */
.styleTitre {
    /* marge extérieure */
    margin: 35px 0 20px;
    /* marge intérieure */
    padding: 10px 0;
    /* type police */
    font-family: 'go_around_the_books_2022Rg';
    /* epaisseur police */
    font-weight: bolder;
    /* taille police */
    font-size: 50px;
    /* alignement horizontal texte */
    text-align: center;
    /* alignement vertical texte */
    vertical-align: center;
    /* couleur fond */
    background-color: rgb(170, 170, 170, 0.85);
}

/* ########## Mise en forme Infos IMC ########## */
.styleInfos {
    /* type police */
    font-family: 'times_sans_serifregular';
    /* taille police */
    font-size: 20px;
}

/* ########## Mise en forme Card infos IMC ########## */
.styleCard {
    /* paramètres bordures */
    border: 2px solid black;
    /* arrondi bordures */
    border-radius: 10px;
}

/* ########## Mise en forme Titre infos IMC ########## */
.styleTitleInfo {
    /* marge extérieure */
    margin: 0;
    /* alignement horizontal texte */
    text-align: center;
    /* style liste */
    list-style-type: none;
    /* taille police */
    font-size: 40px;
    /* couleur police */
    color: rgb(255, 255, 255, 0.85);
    /* couleur fond */
    background-color: rgb(0, 0, 0, 0.75);
}

/* ########## Mise en forme liste Infos IMC ########## */
.styleListeInfoImc {
    /* marge extérieure */
    margin: 0;
    /* taille police */
    font-size: 25px;
}


/* #################### PARAMETRES MOBILE #################### */
@media screen and (max-width: 425px) {

    /* ########## Mise en forme Labels ########## */
    .styleLabel {
        /* taille police */
        font-size: 15px;
    }

    /* ########## Mise en forme Inputs ########## */
    .styleInput {
        /* largeur */
        max-width: 70%;
        /* hauteur */
        height: auto;
    }

    /* ########## Mise en forme Bouton ########## */
    .styleBtn {
        /* largeur */
        max-width: 70%;
        /* hauteur */
        height: auto;
    }

    /* ########## Mise en forme résultats liste Infos IMC ########## */
    .styleResultInfoImc {
        /* marge intérieure */
        padding: 0 35px 0 0;
        /* affichage block */
        display: flex;
        /* déplacement block */
        flex-flow: column wrap;
        /* déplacement horizontal */
        justify-content: center;
        /* déplacement vertical */
        align-items: center;
    }
}